@inject IStringLocalizer<SharedLocalization> SL
@inject IProjectsService ProjectsService

<MudDrawer @bind-Open="@open"
           Elevation="1"
           ClipMode="DrawerClipMode.Always"
           Anchor="Anchor.Right">
    <MudDrawerHeader>
        <MudText Typo="@Typo.h6">@(project?.Title)</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All"
                    Icon="@Icons.Material.Filled.Visibility"
                    Href="@OverviewLink">
            <span>@SL["Overview"]</span>
        </MudNavLink>
        <MudNavLink Match="NavLinkMatch.All"
                    Icon="@Icons.Material.Filled.DeveloperBoard"
                    Href="@BoardLink">
            <span>@SL["KanbanBoard"]</span>
        </MudNavLink>
        <MudNavLink Match="NavLinkMatch.All"
                    Icon="@Icons.Material.Filled.Assignment"
                    Href="@TicketsLink">
            <span>@SL["Tickets"]</span>
        </MudNavLink>
        @if (userId == project?.Team?.LeaderId)
        {
            <MudNavLink Match="NavLinkMatch.All"
                        Icon="@Icons.Material.Filled.Settings"
                        Href="@SettingsLink">
                <span>@SL["Settings"]</span>
            </MudNavLink>
        }
    </MudNavMenu>
</MudDrawer>

<MudElement HtmlTag="div" Class="w-100p" Style="position: relative;">
    <MudFab Style="position: absolute; right: 5px; top: 70px;"
            Color="Color.Primary"
            Icon="@drawerIcon"
            IconSize="@Size.Large"
            Size="@Size.Small"
            OnClick="@ToggleDrawer" />

    @ChildContent

</MudElement>

@code {

    [Parameter] public int ProjectId { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [CascadingParameter] private Task<AuthenticationState> State { get; set; }

    private ProjectViewModel project = null;

    private string userId = null;

    private string OverviewLink => $"/project/{ProjectId}/overview";

    private string BoardLink => $"/project/{ProjectId}/board";

    private string TicketsLink => $"/project/{ProjectId}/tickets";

    private string SettingsLink => $"/project/{ProjectId}/settings";

    private readonly string showIcon = Icons.Material.Filled.KeyboardArrowLeft;

    private readonly string hideIcon = Icons.Material.Filled.KeyboardArrowRight;

    private string drawerIcon = Icons.Material.Filled.KeyboardArrowLeft;

    private bool open = false;

    private void ToggleDrawer() =>
        (open, drawerIcon) = open ? (false, showIcon) : (true, hideIcon);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        userId = await ApiAuthenticationStateProvider.GetUserIdFromStateAsync(State);
        await InitializeProjectAsync();
    }

    private async Task InitializeProjectAsync() =>
        project = await ProjectsService.GetByIdAsync(ProjectId);

}
