@page "/teams"
@inject NavigationManager NavigationManager  

<MudText Class="mt-md-12 mb-4" Typo="@Typo.h3" Align="@Align.Left">Teams</MudText>

<MudTable Class="mb-12"
          T="@int"
          Items="@(Enumerable.Range(0, 15))"
          Hover="@true"
          Breakpoint="@Breakpoint.Sm"
          Elevation="0"
          OnRowClick="@OnRowClick"
          RowClass="cursor-pointer">
    <HeaderContent>
        <MudTh Class="ml-3">Name</MudTh>
        <MudTh>Specialization</MudTh>
        <MudTh>Leader</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="ml-3" DataLabel="Name">Name</MudTd>
        <MudTd DataLabel="Specialization">Specialization</MudTd>
        <MudTd DataLabel="Leader">
            <MudAvatar Class="ml-auto" Color="@Color.Secondary" Size="@Size.Small">A</MudAvatar>
            <span class="ml-2">LeaderName</span>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudFab Style="position: fixed; bottom: 20px; right: 20px;"
        Color="Color.Primary"
        Icon="@Icons.Material.Filled.Add"
        Label="Team" />

@code {

    private void OnRowClick(TableRowClickEventArgs<int> args) =>
        NavigationManager.NavigateTo("/team");

}
