@page "/project/ticket/properties"

<MudContainer MaxWidth="@MaxWidth.Small">
    <MudGrid Spacing="2" Class="mt-8">
        @foreach (var property in Enumerable.Range(0, 4))
        {
            <MudItem xs="12" md="6" Class="d-flex align-center">
                <MudText Typo="@Typo.h6">Property</MudText>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField T="@string" Text="PropertyValue" Variant="@Variant.Outlined" />
            </MudItem>
        }
    </MudGrid>
    <div class="d-flex justify-center align-center">
        <MudButton Variant="@Variant.Filled"
                   Color="@Color.Primary"
                   EndIcon="@Icons.Material.Filled.Save"
                   Class="mt-4">
            Save changes
        </MudButton>
    </div>
</MudContainer>

@code {

}
