@page "/users/{UserId:guid}/profile"
@inject NavigationManager NavigationManager
@inject IStringLocalizer<UserProfile> Localizer
@inject IStringLocalizer<SharedLocalization> SharedLocalizer
@inject IConfiguration Configuration
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IUsersService UsersService
@inject IRatingsService RatingsService
@inject ITeamsService TeamsService 
@inject RequestErrorsHandler RequestErrorsHandler

@if (_user is not null)
{
    <MudPaper Elevation="@Elevation" Class="mt-10">
        <MudGrid>
            @if (!string.IsNullOrWhiteSpace(_user.Avatar))
            {
                <MudItem xs="6" md="4" Class="mx-auto mx-md-0 pa-6">
                    <MudElement HtmlTag="div"
                                Style="@($"background: url({Configuration["ApiUrl"]}/{_user.Avatar}) no-repeat center; background-size: cover; width: 350px; height: 250px;")" />
                </MudItem>
            }
            <MudItem xs="12" md="8">
                <MudElement HtmlTag="div" Class="user-profile__main-information pa-6">
                    <MudElement HtmlTag="div" Class="user-profile__title">
                        <MudText Typo="@Typo.h5" Color="@Color.Dark">@_user.FullName</MudText>
                        <MudText Typo="@Typo.subtitle1" Color="@Color.Surface">@_user.UserName</MudText>
                        @if (!string.IsNullOrWhiteSpace(_user.Profession))
                        {
                            <MudText Typo="@Typo.subtitle1" Color="@Color.Secondary">@_user.Profession</MudText>
                        }
                    </MudElement>
                </MudElement>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudGrid Spacing="4">
        <MudItem xs="12" md="4">
            <MudPaper Elevation="@Elevation" Class="mt-10 pa-6">
                <MudText Typo="@Typo.h6" Style="@_colorGrey">@SharedLocalizer["Profession"]</MudText>
                @if (!string.IsNullOrWhiteSpace(_user.Profession))
                {
                    <MudText Typo="@Typo.subtitle2">@_user.Profession</MudText>
                }
                else
                {
                    <NoneChip />
                }
                <MudDivider Class="mt-2 mb-4" />
                <MudText Typo="@Typo.h6" Style="@_colorGrey">@SharedLocalizer["Specialization"]</MudText>
                @if (!string.IsNullOrWhiteSpace(_user.Specialization))
                {
                    <MudText Typo="@Typo.subtitle2">@_user.Specialization</MudText>
                }
                else
                {
                    <NoneChip />
                }
                <MudDivider Class="mt-2 mb-4" />
                <MudText Typo="@Typo.h6" Style="@_colorGrey">@SharedLocalizer["Email"]</MudText>
                @if (!string.IsNullOrWhiteSpace(_user.Email))
                {
                    <MudText Typo="@Typo.subtitle2">@_user.Email</MudText>
                }
                else
                {
                    <NoneChip />
                }
                <MudDivider Class="mt-2 mb-4" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="8">
            <MudTabs Elevation="@Elevation"
                     ApplyEffectsToContainer="@true"
                     Rounded="@true"
                     Class="mt-10">

                <MudTabPanel Text="@SharedLocalizer["Teams"]">
                    <MudElement HtmlTag="div" Class="pa-6">
                        @if (_teams is not null && _teams.Count != 0)
                        {
                            <MudList Clickable="@true">
                                @foreach (var team in _teams)
                                {
                                    <MudListItem OnClick="@(_ => OpenTeamPage(team))">
                                        <MudElement HtmlTag="div" Class="d-flex justify-space-between align-center">
                                            <MudElement HtmlTag="div" Class="d-flex align-center gap-3">
                                                <MudAvatar Image="@(team.Avatar is not null ? $"{Configuration["ApiUrl"]}/{team.Avatar}" : null)"
                                                           Color="@Color.Success">
                                                    A
                                                </MudAvatar>
                                                <MudElement HtmlTag="div" Class="d-flex flex-column">
                                                    <MudText Typo="@Typo.subtitle2">@team.Name</MudText>
                                                    @if (!string.IsNullOrWhiteSpace(team.Specialization))
                                                    {
                                                        <MudText Typo="@Typo.caption" Style="@_colorGrey">@team.Specialization</MudText>
                                                    }
                                                </MudElement>
                                            </MudElement>
                                            <MudElement HtmlTag="div" Class="d-flex align-center gap-3">
                                                <MudAvatar Image="@(team.Leader?.Avatar is not null ? $"{Configuration["ApiUrl"]}/{team.Leader.Avatar}" : null)"
                                                           Color="@Color.Secondary"
                                                           Size="@Size.Small">
                                                    A
                                                </MudAvatar>
                                                <span>@team.Leader?.FullName</span>
                                            </MudElement>
                                        </MudElement>
                                    </MudListItem>
                                    <MudDivider Class="mb-4" />
                                }
                            </MudList>
                        }
                        else
                        {
                            <MudText Typo="@Typo.h6">@Localizer["NoTeams"]</MudText>
                        }
                    </MudElement>
                </MudTabPanel>

                <MudTabPanel Text="@SharedLocalizer["Ratings"]">
                    <MudElement HtmlTag="div" Class="pa-6">
                        @if (_ratings is not null && _ratings.Count != 0)
                        {
                            <MudList Clickable="@true">
                                @foreach (var rating in _ratings)
                                {
                                    <MudListItem OnClick="@(_ => OpenFullRating(rating))">
                                        <MudElement HtmlTag="div"
                                                    Class="d-flex flex-column flex-sm-row justify-space-between gap-2">
                                            <MudElement HtmlTag="div"
                                                        Class="rating-item__author d-flex align-center gap-4">
                                                <MudAvatar Image="@(rating.From?.Avatar is not null ? $"{Configuration["ApiUrl"]}/{rating.From.Avatar}" : null)"
                                                           Color="@Color.Secondary">
                                                    A
                                                </MudAvatar>
                                                <MudText Typo="@Typo.subtitle1">@rating.From.FullName</MudText>
                                            </MudElement>
                                            <MudElement HtmlTag="div"
                                                        Class="rating-item__average d-flex flex-column align-center gap-1">
                                                <MudText Typo="@Typo.subtitle2">Average: @rating.Average</MudText>
                                                <MudRating SelectedValue="@((int) rating.Average)" ReadOnly="@true" />
                                            </MudElement>
                                        </MudElement>
                                    </MudListItem>
                                    <MudDivider Class="mb-4" />
                                }
                            </MudList>
                        }
                        else
                        {
                            <MudText Typo="@Typo.h6">@Localizer["NoRatings"]</MudText>
                        }
                    </MudElement>
                </MudTabPanel>

                <MudTabPanel Text="@SharedLocalizer["LeaveRate"]">
                    <EditForm Model="@_ratingFromVisitedUser" OnValidSubmit="@LeaveRatingAsync">
                        <FluentValidationValidator />
                        <MudElement HtmlTag="div" Class="pa-6">
                            <MudText Typo="@Typo.h5">@Localizer["RateThisUser"]</MudText>

                            <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                                <MudText Typo="@Typo.h6" Style="@_colorGrey">
                                    @SharedLocalizer["Social"]
                                </MudText>
                                <MudRating @bind-SelectedValue="@_ratingFromVisitedUser.Social" />
                                <MudDivider Class="mt-2 mb-4" />
                            </MudElement>

                            <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                                <MudText Typo="@Typo.h6" Style="@_colorGrey">
                                    @SharedLocalizer["Skills"]
                                </MudText>
                                <MudRating @bind-SelectedValue="@_ratingFromVisitedUser.Skills" />
                                <MudDivider Class="mt-2 mb-4" />
                            </MudElement>

                            <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                                <MudText Typo="@Typo.h6" Style="@_colorGrey">
                                    @SharedLocalizer["Responsibility"]
                                </MudText>
                                <MudRating @bind-SelectedValue="@_ratingFromVisitedUser.Responsibility" />
                                <MudDivider Class="mt-2 mb-4" />
                            </MudElement>

                            <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                                <MudText Typo="@Typo.h6" Style="@_colorGrey">
                                    @SharedLocalizer["Punctuality"]
                                </MudText>
                                <MudRating @bind-SelectedValue="@_ratingFromVisitedUser.Punctuality" />
                                <MudDivider Class="mt-2 mb-4" />
                            </MudElement>

                            <MudTextField T="@string"
                                          Label="@SharedLocalizer["Comment"]"
                                          @bind-Value="@_ratingFromVisitedUser.Comment"
                                          For="@(() => _ratingFromVisitedUser.Comment)"
                                          HelperText="Write your thoughts on this person!"
                                          Lines="4" />

                            <MudText Color="@Color.Error">
                                <ValidationSummary />
                            </MudText>

                            <MudButton FullWidth="@true"
                                       EndIcon="@Icons.Material.Filled.Send"
                                       Class="mt-4"
                                       ButtonType="@ButtonType.Submit"
                                       Disabled="@_addRatingButtonDisabled">
                                @SharedLocalizer["Save"]
                            </MudButton>

                        </MudElement>
                    </EditForm>
                </MudTabPanel>

            </MudTabs>
        </MudItem>
    </MudGrid>
}
else
{
    <Loader />
}

@code {

    [Parameter] public Guid UserId { get; set; }

    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    private const int Elevation = 4;
    private readonly string _colorGrey = $"color: {Colors.Grey.Default};";

    private UserViewModel _user;
    private RatingViewModel _ratingFromVisitedUser;
    private List<RatingViewModel> _ratings;
    private List<TeamViewModel> _teams;
    private bool _addRatingButtonDisabled;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var visitedUserId = await ApiAuthenticationStateProvider.GetUserIdFromStateAsync(State);
        await InitializeUserAsync();
        _ratingFromVisitedUser = new() { FromId = visitedUserId, ToId = _user.Id };
        await InitializeRatingsAsync();
        await InitializeTeamsAsync();
    }

    private async Task InitializeUserAsync() =>
        _user = await UsersService.GetByIdAsync(UserId);

    private async Task InitializeRatingsAsync() =>
        _ratings = await RatingsService.GetByRatedUserId(UserId) as List<RatingViewModel>;

    private async Task InitializeTeamsAsync() =>
        _teams = await TeamsService.GetTeamsForUserAsync(UserId) as List<TeamViewModel>;

    private void OpenTeamPage(TeamViewModel team) =>
        NavigationManager.NavigateTo($"/team/{team.Id}");

    private void OpenFullRating(RatingViewModel rating) =>
        DialogService.ShowRatingDialog(rating.Id, SharedLocalizer);

    private async Task LeaveRatingAsync()
    {
        await RequestErrorsHandler.HandleRequestAsync(async () =>
        {
            await RatingsService.CreateAsync(_ratingFromVisitedUser);
            Snackbar.Add("Rating added", Severity.Success);
            _addRatingButtonDisabled = true;
            await InitializeRatingsAsync();
        });
    }

}
