@page "/users/profile"

<MudPaper Elevation="@elevation" Class="mt-10">
    <MudGrid>
        <MudItem xs="6" md="4" Class="mx-auto mx-md-0 pa-6">
            <img class="img-responsive" src="assets/home/projects.png" alt="Profile picture" />
        </MudItem>
        <MudItem xs="12" md="8">
            <MudElement HtmlTag="div" Class="user-profile__main-information pa-6">
                <MudElement HtmlTag="div" Class="user-profile__title">
                    <MudText Typo="@Typo.h5" Color="@Color.Dark">UserName</MudText>
                    <MudText Typo="@Typo.subtitle1" Color="@Color.Secondary">Profession</MudText>
                </MudElement>
                <MudElement HtmlTag="div" Class="user-profile__ratings mt-4">
                    <MudText Typo="@Typo.h6" Style="@colorGrey">Rankings</MudText>
                    <MudRating ReadOnly="@true" SelectedValue="3" />
                </MudElement>
                <MudElement HtmlTag="div" Class="user-profile__add-to-friends mt-4">
                    <MudButton Variant="@Variant.Outlined"
                               Color="@Color.Success"
                               EndIcon="@Icons.Material.Filled.Add">
                        Add to friends
                    </MudButton>
                </MudElement>
            </MudElement>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudGrid Spacing="4">
    <MudItem xs="12" md="4">
        <MudPaper Elevation="@elevation" Class="mt-10 pa-6">
            <MudText Typo="@Typo.h6" Style="@colorGrey">Profession</MudText>
            <MudText Typo="@Typo.subtitle2">UserProfession</MudText>
            <MudDivider Class="mt-2 mb-4" />
            <MudText Typo="@Typo.h6" Style="@colorGrey">Specialization</MudText>
            <MudText Typo="@Typo.subtitle2">UserSpecialization</MudText>
            <MudDivider Class="mt-2 mb-4" />
            <MudText Typo="@Typo.h6" Style="@colorGrey">Email</MudText>
            <MudText Typo="@Typo.subtitle2">UserEmail</MudText>
            <MudDivider Class="mt-2 mb-4" />
        </MudPaper>
    </MudItem>
    <MudItem xs="12" md="8">
        <MudTabs Elevation="@elevation"
                 ApplyEffectsToContainer="@true"
                 Rounded="@true"
                 Class="mt-10">

            <MudTabPanel Text="Teams">
                <MudElement HtmlTag="div" Class="pa-6">
                    <MudList Clickable="@true">
                        @foreach (var number in Enumerable.Range(0, 4))
                        {
                            <MudListItem>
                                <MudElement HtmlTag="div" Class="d-flex justify-space-between align-center">
                                    <MudElement HtmlTag="div" Class="d-flex align-center gap-3">
                                        <MudAvatar Color="@Color.Secondary">A</MudAvatar>
                                        <MudElement HtmlTag="div" Class="d-flex flex-column">
                                            <MudText Typo="@Typo.subtitle2">TeamName</MudText>
                                            <MudText Typo="@Typo.caption" Style="@colorGrey">Specializarion</MudText>
                                        </MudElement>
                                    </MudElement>
                                    <MudElement HtmlTag="div" Class="d-flex align-center gap-3">
                                        <MudAvatar Color="@Color.Secondary" Size="@Size.Small">A</MudAvatar>
                                        <span>LeaderName</span>
                                    </MudElement>
                                </MudElement>
                            </MudListItem>
                            <MudDivider Class="mb-4" />
                        }
                    </MudList>
                </MudElement>
            </MudTabPanel>

            <MudTabPanel Text="Ratings">
                <MudElement HtmlTag="div" Class="pa-6">
                    <MudList Clickable="@true">
                        @foreach (var number in Enumerable.Range(0, 7))
                        {
                            <MudListItem>
                                <MudElement HtmlTag="div"
                                            Class="d-flex flex-column flex-sm-row justify-space-between gap-2">
                                    <MudElement HtmlTag="div"
                                                Class="rating-item__author d-flex align-center gap-4">
                                        <MudAvatar Color="@Color.Secondary">A</MudAvatar>
                                        <MudText Typo="@Typo.subtitle1">AuthorName</MudText>
                                    </MudElement>
                                    <MudElement HtmlTag="div"
                                                Class="rating-item__average d-flex flex-column align-center gap-1">
                                        <MudText Typo="@Typo.subtitle2">Average: 15.5</MudText>
                                        <MudRating SelectedValue="1" ReadOnly="@true" />
                                    </MudElement>
                                </MudElement>
                            </MudListItem>
                            <MudDivider Class="mb-4" />
                        }
                    </MudList>
                </MudElement>
            </MudTabPanel>

            <MudTabPanel Text="Leave rate">
                <MudElement HtmlTag="div" Class="pa-6">
                    <MudText Typo="@Typo.h5">Rate this user!</MudText>
                    <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                        <MudText Typo="@Typo.h6" Style="@colorGrey">Social</MudText>
                        <MudRating SelectedValue="3" />
                        <MudDivider Class="mt-2 mb-4" />
                    </MudElement>
                    <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                        <MudText Typo="@Typo.h6" Style="@colorGrey">Skills</MudText>
                        <MudRating />
                        <MudDivider Class="mt-2 mb-4" />
                    </MudElement>
                    <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                        <MudText Typo="@Typo.h6" Style="@colorGrey">Responsibility</MudText>
                        <MudRating />
                        <MudDivider Class="mt-2 mb-4" />
                    </MudElement>
                    <MudElement HtmlTag="div" Class="user-profile__rating mt-4">
                        <MudText Typo="@Typo.h6" Style="@colorGrey">Punctuality</MudText>
                        <MudRating />
                        <MudDivider Class="mt-2 mb-4" />
                    </MudElement>
                    <MudTextField T="@string"
                                  Label="Comment"
                                  HelperText="Write your thoughts on this person!"
                                  Lines="4" />
                    <MudButton FullWidth="@true"
                               EndIcon="@Icons.Material.Filled.Send"
                               Class="mt-4">
                        Save
                    </MudButton>
                </MudElement>
            </MudTabPanel>

        </MudTabs>
    </MudItem>
</MudGrid>

@code {

    private readonly string colorGrey = $"color: {Colors.Grey.Default};";

    private readonly int elevation = 4;

}
